@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-white;
    font-family: var(--font-sans), sans-serif;
  }
  
  * {
    @apply border-slate-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .btn-radius-20 {
    border-radius: 20%;
  }
}
